/* global */
body {
  background-color: #f5f5f5;
  padding: 10px 30px;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
}

/*main*/

main {
  flex: auto;
  display: flex;
  gap: 20px;
}

.main-left {
  flex: 1;
}

.main-right {
  flex: 2;
}

.main-title {
  border-bottom: solid;
  padding-bottom: 10px;
}

.main-button {
  padding: 10px;
  background-color: #c3c7c4;
}

/* header */
header {
  display: flex;
  flex-direction: column;
  flex: none;
}

.logo {
  max-width: 350px;
  margin: 2em 2em 0;
}

.header-img {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  height: 500px;
}

img {
  width: 100%;
  height: 100%;
}

/* nav */

nav {
  margin: 2em 3em;
  padding: 2em 2em 0;
}

.main-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin: 0 auto;
}

.left-link {
  border-left: 1px solid black !important;
}

.main-nav-link {
  text-decoration: none;
  border: 1px solid black;
  border-left: none;
  border-bottom: none;
  padding: 0.5em 4em;
  background-color: #eae6e3;
  color: #000;
}

.main-nav-link:hover,
.main-nav-link:active,
.main-nav-link:focus {
  background-color: #f8f7f5;
}

/* text */

a {
  text-decoration: none;
  color: inherit;
}

/* table */
table,
td,
th {
  border-color: #c3c7c4;
  padding: 10px;
  text-align: left;
}

table,
td {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-collapse: collapse;
  background-color: #ffffff;
}

th {
  border-top: 2px solid;
  border-bottom: 2px solid;
}

table {
  margin: 20px 0px;
  width: 100%;
}

/*footer*/

footer {
  border-top: 1px solid;
  margin-top: 20px;
  flex: none;
}

/*form*/
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
