/* global */
body {
  background-color: #f5f5f5;
  padding: 10px 150px;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

/*main*/

main {
  flex: auto;
  display: flex;
  gap: 20px;

}

.main-left {
  flex: 1;
}

.main-right {
  flex: 2;
}

.main-title {
  border-bottom: solid;
  padding-bottom: 10px;
}

.main-button {
  padding: 10px;
  background-color: #c3c7c4;
}

/* header */
header {
  display: flex;
  flex-direction: column;
  flex: none;
}

.logo {
  max-width: 350px;
}

.header-img {
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 500px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* nav */

nav {

}

.main-nav {
  list-style: none;
  display: flex;
  padding: 0;
}

.main-nav-link {
  text-decoration: none;
}

.main-nav-item {
  flex: 1;
  border: 1px solid black;
  background-color: #eae6e3;
  padding: 20px;
  color: #000;
  text-align: center;
}

.main-nav-item:hover,
.main-nav-item:active,
.main-nav-item:focus {
  background-color: #f8f7f5;
}

.on-page {
  background-color: #ffffff;
}

/* text */

a {
  text-decoration: none;
  color: inherit;
}

/* table */
table,
td,
th {
  border-color: #c3c7c4;
  padding: 10px;
  text-align: left;
}

table,
td {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-collapse: collapse;
  background-color: #ffffff;
}

th {
  border-top: 2px solid;
  border-bottom: 2px solid;
}

table {
  margin: 20px 0px;
  width: 100%;
}

/*footer*/

footer {
  border-top: 1px solid;
  margin-top: 20px;
  flex: none;
}

/*form*/
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  max-width: 100px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  padding: 50px;
}

input::-webkit-input-placeholder { 
  position:absolute;
  left: 10px;
  top: 10px;
  font-size: 20px; 
}





/* map */
.google-map  {
  width: 100%;
}