body{
      font-family: "Josefin Sans", sans-serif;
}

/* header */
header {
    display: flex;
    flex-direction: column;
}

.logo {
    max-width: 350px;
}

/* nav */

nav {
    margin: 2em 3em;
    padding: 2em;
}

.main-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 0 auto;
}

.left-link{
    border-left: 1px solid black !important;
}

.main-nav-link {
    text-decoration: none;
    border: 1px solid black;
    border-left: none;
    border-bottom: none;
    padding: 0.5em 4em;
    background-color: #EAE6E3;
    color: #000;
}

.main-nav-link:hover,
.main-nav-link:active,
.main-nav-link:focus {
    background-color: #F8F7F5 ;
}